{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('ingredient_attach_to_drink', drink_id=drink.id) }}" label="Liitä ainesosa drinkkiin" >
    <table>

        <tr>
            <td>
                {{ drink.name }}
                {{ drink.date_created.strftime('%Y-%m-%d') }}
            </td>
        </tr>

        {% if drink.ingredients|length > 0 %}
            {% for d in drink.ingredients %}
            <p class="card-text"><b>Ainesosat</b></p>
            <table class="table">
            
            <tr>
                <td>
                    {{d.ingredient.name}}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    {% for ingredient in ingredients %}
        <input type="hidden" name="drink_id" value="{{drink.id}}">
            <tr>
                <td>
                    <input type="checkbox" id="id_{{ingredient}}" name="ingredients" value="{{ingredient.id}}">
                    <label for="Lisää ainesosa">{{ingredient.name}}</label>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                    <button type="submit" id="id_{{drink}}" class="btn btn-success">Päivitä valituilla aineksilla</button>
                    <label for="Lisää"></label>
            </td>
        </tr>
    </table>
</form>

{% endblock %}