{% extends "layout.html" %}
{% block body %}

<table>
    <tr>
        <th>
            <h4>Drinkit</h4>
        </th>
    </tr>
    {% for drink in drinks %}
    <tr>
        <td>
            {{ drink.name }}
        </td>
    </tr>          
        <td>
            <div class="container">
    
                    <form method="GET" action="{{url_for('onedrink', drink_id=drink.id) }}">
                            <button type="submit" class="btn btn-primary">Siirry esittely ja editointi sivulle <span class="badge"></span></button>
                            <label for="Siirry drinkin esittely sivustolle josta pääset lisäämään ainesosia drinkkiin"></label>
                            </form>
                    <td>        
                    <form method="POST" action="{{ url_for('drinks_delete', drink_id=drink.id) }}">
                                    <button type="submit" class="btn btn-danger">Poista drinkki <span class="badge"></span></button>
                                    <label for="Poista drinkki"></label>
                                    </form>        
                    </td>
                    <td>    
                        <form method="POST" action="{{url_for('drink_update', drink_id=drink.id) }}">
                                    <button type="submit" class="btn btn-success">Siirry muokkaamaan drinkin nimeä <span class="badge"></span></button>
                                    <label for="Siirry muokkaamaan drinkin nimeä"></label>
                                    </form> 
                    </td>                                             
            </div>
        </td>                 
    </tr>
    {% endfor %}
</table>
{% endblock %}