
{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}                
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.username.label }}                
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
                
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Register"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}