{% extends "layout.html" %}
{% block body %}

<table>
    <tr>
        <th>
            Ingredient
        </th>
        <th>
            I have it
        </th>

    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>
            {{ ingredient.name }}
        </td>
        <td>
            {{ingredient.iHaveIt}}    
        </td>
        <td>
            <form method="POST" action="{{ url_for('ingredients_set_done', ingredient_id=ingredient.id) }}">
                <input type="submit" value="I have this in my fridge"/>
            </form>
            </td>        
    </tr>
    {% endfor %}
</table>
{% endblock %}