{% extends "layout.html" %}
{% block body %}

<table>
    <tr>
        <th>
            Ingredient
        </th>

    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>
            {{ ingredient.name }}
        </td>
        <td>            
            <form method="GET" action="{{url_for('one_ingredient', ingredient_id=ingredient.id) }}">
                <input type="submit" value="Siirry esittelysivulle">
                </form>
        </td>
        <td>
                <form method="POST" action="{{ url_for('ingredient_delete', ingredient_id=ingredient.id) }}">
                    <input type="submit" value="poista"/>
                </form>
        </td>     
        <td>
                <form method="POST" action="{{ url_for('ingredient_update', ingredient_id=ingredient.id) }}">
                    <input type="submit" value="päivitä"/>
                </form>
        </td>                       
    </tr>
    {% endfor %}
</table>
{% endblock %}