{% extends "layout.html" %}
{% block body %}

<table>
    <tr>
        <th>
            <h4>Ainesosat</h4>
        </th>

    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>
            {{ ingredient.name }}
        </td>
        <td>
            {% if current_user.is_authenticated %}  
            <div class="container">
                <form method="GET" action="{{url_for('one_ingredient', ingredient_id=ingredient.id) }}">
                    <button type="submit" class="btn btn-primary">Siirry esittelysivulle <span class="badge"></span></button>
                    <label for="Siirry ainesosan esittelysivulle"></label>    
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('ingredient_delete', ingredient_id=ingredient.id) }}">
                        <button type="submit" class="btn btn-danger">Poista <span class="badge"></span></button>
                        <label for="Poista ainesosa"></label>
                </form>
            </td>     
            <td>
                <form method="POST" action="{{ url_for('ingredient_update', ingredient_id=ingredient.id) }}">
                        <button type="submit" class="btn btn-success">Päivitä <span class="badge"></span></button>
                        <label for="Siirry päivittämään ainesosaa"></label>
                </form>
            </td>                       
        </div>
        {% endif %} 
        </tr>
           
        </tr>
    {% endfor %}
</table>
{% endblock %}